<form class="form-add-producto">
    <div class="div-inputs-from-producto">
        <div>
            <label for="nombre">Nombre</label>
            <div>
                <input pInputText type="text" name="nombre" id="nombre" [(ngModel)]="producto.nombre">
            </div>
        </div>

        <div>
            <label for="precio">Precio</label>
            <div>
                <input pInputText type="number" name="precio" id="precio" [(ngModel)]="producto.precio">
            </div>
        </div>

        <div>
            <label for="cantidad">Cantidad</label>
            <div>
                <input type="number" pInputText name="cantidad" id="cantidad" [(ngModel)]="producto.cantidad">
            </div>
        </div>

        <div>
            <label for="categoria">Categoria</label>
            <div>
                <select class="form-select" name="categoria" id="categoria" [(ngModel)]="categoria.id" >
                    <option value="">--Seleccione una Opcion</option>
                    <option *ngFor="let categoria of categorias" value="{{categoria.id}}">{{categoria.nombre}}</option>
                </select>
            </div>
        </div>
        <div style="display: flex; align-items: center;gap: 30px;">
            <label for="modoVisible">Visible</label>

            <input type="checkbox" name="modoVisible" id="modoVisible" [value]="true" [(ngModel)]="producto.modoVisible">
            
        </div>

        <div>
            <button class="btn btn-success" (click)="registraProducto()">Agregar</button>
        </div>
    </div>


    <div>
        <label for="">Subir Imagen</label>
        <div class="content-img-form-producto">
            <input class="btn btn-primary" type="file" (change)="uploadImage($event)" accept="image/*" [(ngModel)]="producto.urlImg" />

            <div class="content-img">
                <img class="form-producto-img" *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded Image" />
            </div>

            <div class="btn-eliminar-img"><button class="btn btn-danger" (click)="deleteImage()">Eliminar Imagen</button></div>
        </div>

    </div>

</form>