<div>
    <div class="card card-header">
        <div>
            <button class="btn btn-success" (click)="modoVisible()">Registrar[+]</button>
        </div>
       
    </div>
    <div class="card card-body">
        <table class="table table-stripe table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Fecha-Registro</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Eliminar</th>
                    <th>Actualizar</th>
                    <th>Ocultar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos"><!--for que recorre la lista productos-->
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.categoria.nombre}}</td>
                    <td>{{producto.fechaRegistro}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.cantidad}}</td>
                    <td><button class="btn btn-danger"><i class="bi bi-trash icons"></i></button></td>
                    <td><button class="btn btn-primary"><i class="bi bi-arrow-repeat icons"></i></button></td>
                    <td><button class="btn btn-primary"><i class="bi bi-eye-slash icons"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<p-dialog header="Agregar Producto" [(visible)]="visible" [style]="{width: '50vw'}" >
    <app-form-producto (outputVisible)="visible=$event" (ouputProductos)="ngOnInit()"></app-form-producto>
    <!--(outputVisible)="visible=$event" valor que seleda a la variable visible-->
</p-dialog>
