<div class="heder-form-usuario">
    <div>
        <h1>Registrase</h1>
    </div>
    <div><button [routerLink]="['/index']" class="btn btn-primary"><i class="bi bi-arrow-90deg-left"></i></button></div>
</div>
<hr>
<div>
    <form class="form-usuario">
        <div>
            <label for="username">Username </label>
            <div>
                <input type="text" pInputText name="username" id="username" />
            </div>
        </div>

        <div>
            <label for="email">Email </label>
            <div>
                <input type="email" pInputText name="email" id="email" />
            </div>
        </div>

        <div>
            <label for="password">Password</label>
            <div>
                <input type="password" pInputText name="password" id="password" />
            </div>

        </div>

        <div>
            <b class="btn btn-success">Registrar</b>
        </div>
    </form>
</div>