
<div class="div-principal-index">
<div class="card-index" *ngFor="let producto of productoVisibles"><!--For que recorre la lista de productos visibles-->
    <div class="card-princial">
        <div>
           <h4>{{producto.nombre}}</h4> 
        </div>
        <div class="card card-body" >
            <img class="img-index" src={{producto.urlImg}} alt="Uploaded Image" />
        </div>
        <div class="div-card-footer">
            <div><h6>$ {{producto.precio}}</h6></div>
            <div><button (click)=" guardarItem(producto)" class="btn btn-car">Agregar al carrito</button></div>   
        </div>
    </div>
</div>

</div>

