/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
a{
    text-decoration: none !important;
    color: black !important;
}

.div-cantidad-precio .p-inputnumber-buttons-stacked .p-inputnumber-input{
    width: 80px ;
}

.length .p-badge{
    /*background: #000080;*/
    background: #Ff6600;
    position: absolute;
    top: 0px;
    font-size: 15px;
}


.length{
    margin-bottom: 1px;
}



